.icon {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

.tool:hover {
  color: rgb(230, 150, 31);
  cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border: 1px solid #282112;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 1110px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  text-align: left;
}

th {
  color: #d5dde5;
  background: #1b1e24;
  /* border-bottom: 1px solid #282112;
  border-right: 1px solid #282112; */
  font-size: 18px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #282112;
  border-bottom-: 1px solid #282112;
  color: #282112;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/* tr:hover td {
  background: #4e5066;
  color: #ffffff;
  border-top: 1px solid #22262e;
} */

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

/* tr:nth-child(odd) td {
  background: #ebebeb;
} */

/* tr:nth-child(odd):hover td {
  background: #4e5066;
} */

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #282112;
}

td:last-child {
  border-right: 0px;
}

/* th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
} */
td.text-left2 {
  background-color: #c9bda4;
}
td.text-left3 {
  background-color: #c8d3d7;
}
td.text-left4 {
  background-color: #c3c6d7;
}
td.text-left5 {
  background-color: #d6cfc7;
}
td.text-left6 {
  background-color: #c3cdc4;
}
td.text-left7 {
  background-color: #aabfd2;
}
td.text-left8 {
  background-color: #d1d0cc;
}

.bar {
  cursor: pointer;
}

.bar:hover {
  color: burlywood;
}
